.contact {
  padding: 10rem 30%;
}
.contact h1 {
  margin-bottom: 30px;
}
.contact .action {
  width: 100%;
}
.contact button {
  width: 100%;
}
p.invalid {
  color: rgba(235, 71, 71, 0.8);
  text-align: left;
}
input.invalid,
textarea.invalid {
  border-color: rgba(235, 71, 71, 0.8);
}
@media screen and (max-width: 800px) {
  .contact {
    padding: 10rem 20%;
  }
}
